.nav{
  a{
  	font-size: 18px;
  	margin: 20px 0;
  	line-height: 18px;
    padding: 0px 32px;
    border-right: 1px solid #fff;
    &:last-child{
      border-right: 0;
    }
  }
}
.categories{  
  padding: 20px;
  a{
  	font-size: 14px;
  	line-height: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 16px 1px 16px;
    margin: 2px;
    background:url('/img/gray-transperancy.png')repeat;
      img{
        width: 100%;
      }
    &:hover{
      border: 1px solid #fec111;
      padding: 24px 15px 0 15px;
    }
  }
}
