mixin nav(modifier)
  .nav.d-flex.flex-column.flex-sm-row.justify-content-start
    a(href="#")&attributes(attributes) ГЛАВНАЯ
    a(href="#")&attributes(attributes) НОВОСТИ
    a(href="#")&attributes(attributes) СОВЕТЫ ЮРИСТОВ
    a(href="#")&attributes(attributes) ПОЛЕЗНАЯ ИНФОРМАЦИЯ
  .categories
    .row
      a.col(href="#") ПРОБЛЕМЫ С КРЕДИТАМИ, ПРИСТАВАМИ, КОЛЛЕКТО-РАМИ
        img(src="/img/cat-1.jpg")
      a.col(href="#") ПРОБЛЕМЫ НА ДОРОГАХ И СТРАХОВЫМИ КОМПАНИЯ-МИ
        img(src="/img/cat-2.jpg")
      a.col(href="#") БАНКРОТСТВО
        img(src="/img/cat-3.jpg")
      a.col(href="#") УГОЛОВНЫЕ</br> ДЕЛА
        img(src="/img/cat-4.jpg")
      a.col(href="#") ПРОБЛЕМЫ СЕМЬИ, РАЗ-ВОД, АЛИМЕНТЫ, РАЗДЕЛ ИМУЩЕСТВА, НАСЛЕДСТВО
        img(src="/img/cat-3.jpg")
    .row
      a.col(href="#") ГРАЖДАНСКОЕ СУДОПРО-ИЗВОДСТВО
        img(src="/img/cat-6.jpg")
      a.col(href="#") АРБИТРАЖНЫЕ</br> СПОРЫ
        img(src="/img/cat-7.jpg")
      a.col(href="#") ТРУДОВЫЕ СПОРЫ, СПОРЫ С РАБОТОДАТЕЛЕМ
        img(src="/img/cat-8.jpg")        
      a.col(href="#") РАЗДЕЛ ЗЕМ-Х УЧАСТКОВ, КАДАСТР, ТЕХ ПАСПОРТ, СДЕЛКИ С НЕДВИЖИМОСТЬЮ
        img(src="/img/cat-9.jpg")
      a.col(href="#") ЗАЩИТА ПРАВ ПОТРЕБИТЕЛЯ
        img(src="/img/cat-10.jpg")