mixin footer(modifier)
  .footer.w-100&attributes(attributes)
    .d-flex.justify-content-center.my-md-0
      .footer__askBlock.col-xl-7.col-lg-9.col-md-11.py-5.text-center.pl-75
        a(href="#")
          h3 Спросить у юриста быстрее, чем искать. Ответ за 5 минут.