mixin front(modifier)
  .front.pt-35&attributes(attributes) 
      .row
        .col-md-9.px-0
          .front__form--header
            h6.text-center БЕСПЛАТНАЯ ЮРИДИЧЕСКАЯ КОНСУЛЬТАЦИЯ
            p.text-center опишите, пожалуйста, вашу ситуацию ниже и получите бесплатную консультацию нашего юриста в течении 5 минут
          .front__form--content
            +form
        .col-md-3.pl-md-5.py-20.py-md-0
          .front__lastNews--header
            h6 ПОСЛЕДНИЕ НОВОСТИ
          .front__lastNews--content            
            a.d-flex.justify-content-between(href="#",alt="#")
              img(src="/img/short.jpg",alt="#")
              span.d-block Путин и Кэмерон еще смогут обменятся мнения в рамках G20            
            span.d-block.front__lastNews--date 18 июня 2015, 12:30
            hr
            span.d-block.front__lastNews--shortText Путин и Кэмерон еще смогут обменятся мнения в рамках G20Путин и Кэмерон еще смогут обменятся мнения в рамках G20
            .w-100.text-right
              button Подробнее
          .front__lastNews--content            
            a.d-flex.justify-content-between(href="#",alt="#")
              img(src="/img/short.jpg",alt="#")
              span.d-block Путин и Кэмерон еще смогут обменятся мнения в рамках G20            
            span.d-block.front__lastNews--date 18 июня 2015, 12:30
            hr
            span.d-block.front__lastNews--shortText Путин и Кэмерон еще смогут обменятся мнения в рамках G20Путин и Кэмерон еще смогут обменятся мнения в рамках G20
            .w-100.text-right
              button Подробнее
      .row
        .col-lg-9.front__newsBlock
          h4 НОВОСТИ
          .front__newsBlock--item.row.py-20.px-15
            .col-2.px-0
              img.w-100(src="/img/news-1.jpg")
            .col-10.px-5
                a(href="#")
                  h5 Заголовок новости 1
                span 18 июня 2015, 12:30
                hr
                p Например: Недавно оказал посредническую услугу как физическое лицо. Но все пошло не так. Я пытался вернуть свои деньги, но меня обвинили в мошенничестве, и теперь грозят подать иск в суди или в прокуратуру. Как быть в данной ситуации?
                button.float-right Подробнее
          .front__newsBlock--item.row.py-20.px-15
            .col-2.px-0
              img.w-100(src="/img/news-1.jpg")
            .col-10.px-5
                a(href="#")
                  h5 Заголовок новости 1
                span 18 июня 2015, 12:30
                hr
                p Например: Недавно оказал посредническую услугу как физическое лицо. Но все пошло не так. Я пытался вернуть свои деньги, но меня обвинили в мошенничестве, и теперь грозят подать иск в суди или в прокуратуру. Как быть в данной ситуации?
                button.float-right Подробнее
          .front__newsBlock--item.row.py-20.px-15
            .col-2.px-0
              img.w-100(src="/img/news-1.jpg")
            .col-10.px-5
                a(href="#")
                  h5 Заголовок новости 1
                span 18 июня 2015, 12:30
                hr
                p Например: Недавно оказал посредническую услугу как физическое лицо. Но все пошло не так. Я пытался вернуть свои деньги, но меня обвинили в мошенничестве, и теперь грозят подать иск в суди или в прокуратуру. Как быть в данной ситуации?
                button.float-right Подробнее


