mixin alphabetic(modifier)
  .alphabetic.py-30&attributes(attributes)
    h3.text-center ТЕМАТИЧЕСКИЙ АЛФАВИТНЫЙ УКАЗАТЕЛЬ:
    .col.col-12.col-xl-10.offset-xl-1.d-flex.flex-wrap
      .col.d-flex.flex-column.px-5
        a(href="#") Авто
        a(href="#") Авторское право
        a(href="#") Адвокаты и юристы
        a(href="#") Акт
        a(href="#") Алементы
        a(href="#") Апелляция
        a(href="#") Арбитраж
        a.mb-20(href="#") Армия
        a(href="#") Банки
        a(href="#") Банки
        a(href="#") Банки
        a.mb-20(href="#") Банки
        a(href="#") Водительское удостоверение
        a(href="#") Возврат
        a(href="#") Возврат
        a(href="#") Возврат
        a(href="#") Возврат
        a(href="#") Возврат
        a.mb-20(href="#") Возврат
        a(href="#") Гражданство
      .col.d-flex.flex-column.px-5
        a(href="#") Авто
        a(href="#") Авторское право
        a(href="#") Адвокаты и юристы
        a(href="#") Акт
        a(href="#") Алементы
        a(href="#") Апелляция
        a(href="#") Арбитраж
        a.mb-20(href="#") Армия
        a(href="#") Банки
        a(href="#") Банки
        a(href="#") Банки
        a.mb-20(href="#") Банки
        a(href="#") Водительское удостоверение
        a(href="#") Возврат
        a(href="#") Возврат
        a(href="#") Возврат
        a(href="#") Возврат
        a(href="#") Возврат
        a(href="#") Возврат
        a(href="#") Гражданство
      .col.d-flex.flex-column.px-5
        a(href="#") Авто
        a(href="#") Авторское право
        a(href="#") Адвокаты и юристы
        a(href="#") Акт
        a(href="#") Алементы
        a(href="#") Апелляция
        a(href="#") Арбитраж
        a.mb-20(href="#") Армия
        a(href="#") Банки
        a(href="#") Банки
        a(href="#") Банки
        a.mb-20(href="#") Банки
        a(href="#") Водительское удостоверение
        a(href="#") Возврат
        a(href="#") Возврат
        a(href="#") Возврат
        a(href="#") Возврат
        a(href="#") Возврат
        a(href="#") Возврат
        a(href="#") Гражданство
      .w-100.d-md-none
      .col.d-flex.flex-column.px-5
        a(href="#") Авто
        a(href="#") Авторское право
        a(href="#") Адвокаты и юристы
        a(href="#") Акт
        a(href="#") Алементы
        a(href="#") Апелляция
        a(href="#") Арбитраж
        a.mb-20(href="#") Армия
        a(href="#") Банки
        a(href="#") Банки
        a(href="#") Банки
        a.mb-20(href="#") Банки
        a(href="#") Водительское удостоверение
        a(href="#") Возврат
        a(href="#") Возврат
        a(href="#") Возврат
        a(href="#") Возврат
        a(href="#") Возврат
        a(href="#") Возврат
        a(href="#") Гражданство
      .col.d-flex.flex-column.px-5
        a(href="#") Авто
        a(href="#") Авторское право
        a(href="#") Адвокаты и юристы
        a(href="#") Акт
        a(href="#") Алементы
        a(href="#") Апелляция
        a(href="#") Арбитраж
        a.mb-20(href="#") Армия
        a(href="#") Банки
        a(href="#") Банки
        a(href="#") Банки
        a.mb-20(href="#") Банки
        a(href="#") Водительское удостоверение
        a(href="#") Возврат
        a(href="#") Возврат
        a(href="#") Возврат
        a(href="#") Возврат
        a(href="#") Возврат
        a(href="#") Возврат
        a(href="#") Гражданство
      .col.d-flex.flex-column.px-5
        a(href="#") Авто
        a(href="#") Авторское право
        a(href="#") Адвокаты и юристы
        a(href="#") Акт
        a(href="#") Алементы
        a(href="#") Апелляция
        a(href="#") Арбитраж
        a.mb-20(href="#") Армия
        a(href="#") Банки
        a(href="#") Банки
        a(href="#") Банки
        a.mb-20(href="#") Банки
        a(href="#") Водительское удостоверение
        a(href="#") Возврат
        a(href="#") Возврат
        a(href="#") Возврат
        a(href="#") Возврат
        a(href="#") Возврат
        a(href="#") Возврат
        a(href="#") Гражданство