mixin header(modifier)
  .header&attributes(attributes).w-100.d-flex.justify-content-center.pt-15
    .container.col-12.col-xl-10.offset-xl-1
      .row
        .col-12
          .header__content
            +logo
            +nav
            